@using ClothingStoreManagement.Ui.Features.User
@inject AppState AppState
@inject NavigationManager Nav
<Router AppAssembly="@typeof(Main).Assembly">
    <Found Context="routeData">
        @if (!AppState.IsLoggedIn && Nav.Uri.EndsWith("/login") == false)
        {
            <Login />
        }
        else
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        }
    </Found>
    <NotFound>
        <p>عفواً، هذه الصفحة غير موجودة.</p>
    </NotFound>
</Router>